@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <div class="optionList">
            <div class="optionItem"><a href="~/Injury/Index">INJURY</a></div>
        </div>
  </div>

